<header>
    <nav class="navbar">
        <a class="app-title" href="../">
            <h1 class="title">Immanuel</h1>
        </a>
        <div class="nav-items">
            <% if(user) { %>
            <div class="header-btn">
                <a href="/logout">Logout</a>
            </div>
            <div class="header-btn">
                <a href="/dashboard">Dashboard</a>
            </div>
            <div class="header-btn">
                <a href="/posts/new">Add New Post</a>
            </div>
            <% } else { %>
            <div class="header-btn">
                <a class="login-btn" href="/login">Login</a>
            </div>
            <div class="header-btn">
                <a class="signup-btn" href="/signup">Sign Up</a>
            </div>
            <% } %>
            <div class="header-btn">
                <a class="home-btn" href="/">Home</a>
            </div>
        </div>
    </nav>
</header>