<header>
    <a class="app-title" href="../">
        <h1>Immanuel</h1>
    </a>
    <nav class="navbar">
        <% if(user) { %>
        <a href="/logout">Logout</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/posts/new">Add New Post</a>
        <% } else { %>
        <a class="login-btn" href="/login">Login</a>
        <a class="signup-btn" href="/signup">Sign Up</a>
        <% } %>
        <a class="home-btn" href="/">Home</a>
    </nav>
</header>