<header>
    <nav class="navbar">
        <div class="navbar-content">
            <div class="nav-items">
                <% if(user) { %>
                <div>
                    <a class="icon" href="/logout"><img class="nav-icon" src="/images/logout.png" alt="logout" /></a>
                </div>
                <div>
                    <a class="icon" href="/dashboard"><img class="nav-icon" src="/images/dashboard.png"
                            alt="Dashboard" /></a>
                </div>
                <div>
                    <a href="/posts/new"><img class="nav-icon" src="/images/add-post.png" alt="Add New Post" /></a>
                </div>

                <% } else { %>
                <div class="nav-btn">
                    <a class="login-btn" href="/login">Login</a>
                </div>
                <div class="nav-btn">
                    <a class="signup-btn" href="/signup">Sign Up</a>
                </div>
                <% } %>

                <% if(!user) { %>
                <div class="nav-btn">
                    <form action="/guest-login" method="post">
                        <button type="submit" class="login-btn">Guest Login</button>
                    </form>
                </div>
                <% } %>

                <div>
                    <a href="/"><img class="nav-icon" src="/images/home.png" alt="Home" /></a>
                </div>
            </div>

            <% if(user) { %>
            <section class="dashboard-section" id="greeting-section">
                <h1 id="greeting-title">Hello, <%- user.firstName %></h1>
            </section>
            <% } %>
            <div class="app-title">
                <a href="/" class="title">Immanuel</a>
            </div>
        </div>
    </nav>
</header>
