<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/header') %>
  <h3 class="login-form-h3">Log In</h3>
    
  <form action="/login" method="post" class="login-form">
    <div class="input-button-wrapper">
      <input type="email" name="email" placeholder="email" class="login-input"><br>
      <input type="password" name="password" placeholder="password" class="login-input"><br>
      <div class="button-wrapper">
        <button type="submit" class="login-submit">Log In</button>
      </div>
    </div>
  </form>
</body>
</html>
