<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/header') %>
    <h3 class="signup-form-h3">Sign Up</h3>
    
    <form action="/signup" method="post" class="signup-form">
        <div class="input-button-wrapper">
            <input type="text" name="firstName" placeholder="first name" class="signup-input"><br>
            <input type="text" name="lastName" placeholder="last name" class="signup-input"><br>
            <input type="email" name="email" placeholder="email" class="signup-input"><br>
            <input type="password" name="password" placeholder="password" class="signup-input"><br>
            <div class="button-wrapper">
              <button type="submit" class="signup-submit">Sign Up</button>
            </div>
        </div>
    </form>
</body>
</html>
