<!DOCTYPE html>
<html lang="en">

<head>
  <script>
    // Function to validate post title
function validatePostTitle() {
  const postTitleInput = document.getElementById("post-title-input");

  if (postTitleInput.value.trim() === "") {
    postTitleInput.placeholder = "! Please add title";
    postTitleInput.classList.add("red-placeholder");
    return false;
  } else {
    postTitleInput.placeholder = "Add title here";
    postTitleInput.classList.remove("red-placeholder");
    return true;
  }
}

window.addEventListener('load', function() {
  // Attach an event listener to the post submit button
  const postSubmitButton = document.getElementById("post-submit-button");
  if (postSubmitButton) {
    postSubmitButton.addEventListener("click", function(event) {
      if (!validatePostTitle()) {
        event.preventDefault();
      }
    });
  }

  // Your existing window load code can go here
});

  </script>
  <%- include('../partials/head') %>
</head>

<body>
  <%- include('../partials/header') %>
  <div class="create-post">
    <section class="post-dashboard-section" id="post-create-section">
      <h3 id="post-create-title">Add a New Post</h3>
      <form id="post-create-form" action="/posts" method="post">
        <input id="post-title-input" class="post-input-title" type="text" name="title" placeholder="Add title here"><br />
        <input class="post-input-link" type="text" name="link" placeholder="Add a link"><br />
        <input class="post-input-scripture" type="text" name="scripture" placeholder="Add a scripture"><br />
        <textarea class="post-input-description" name="description" cols="30" rows="10"
          placeholder="Add a description"></textarea><br />
        <input id="post-submit-button" class="post-input-submit" type="submit" value="Add Post">
      </form>
    </section>
  </div>
</body>
</html>
