<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>
  <h2>Add a New Post</h2>
  <form action="/posts" method="post">
    <input placeholder="Add title here" type="text" name="title"><br>
    <input placeholder="Add a link" type="text" name="link"><br>
    <input placeholder="Add a scripture" type="text" name="scripture"><br>
    <textarea
      placeholder="Add a description"
      name="description" cols="30" rows="10"></textarea><br>
      <input type="submit" value="Add Post">
  </form>

</body>
</html>